body {
    background-image: url(../images/php.png);
    background-size: 575px;
}
.ul-card {
    list-style: none;
    font-size: 1.1em;
    font-weight: bold;
    width: 22%;
    border: 1px black solid;
    background-color: aliceblue;
}

.li-card {
    margin-bottom: 50px;
    margin-top: 40px;
    margin-right: 40px;
}
.ul-card button {
    margin-bottom: 20px;   
}
